<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Your personal AI doctor</title>
</head>
<body>
    <div id="header-div">
        <header>
            <h1>🩺 Health Assistant AI</h1>
        </header>
    </div>
    <main>
        <div id="outer-div">
            <form action="/submit" method="POST" class="prompt__form" id="prompt-form">
                <textarea class="prompt__textarea" name="prompt" placeholder="Enter your problem here"></textarea>
                <button type="submit" class="prompt__button">Submit</button>
            </form>
            <div id="chat-div">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
        <script>
            const form = document.getElementById("prompt-form");
            const textarea = form.querySelector("textarea");

            textarea.addEventListener("keydown", function(event) {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    form.submit();
                }
            });
        </script>
    </main>
</body>
</html>